# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Logs / outputs
*.log
logs/
runlogs/
outputs/
results/
checkpoints/
wandb/
mlruns/

# Data (customize!)
data/
datasets/

# OS/editor
.DS_Store
.vscode/
.idea/
