cmake==3.30.2
decord==0.6.0
deepspeed==0.14.0
gradio==3.35.2
httptools==0.7.1
jsonlines==4.0.0
latex2mathml==3.77.0
latex2sympy2==1.5.4
linkify-it-py==2.0.3
lit==18.1.8
markdown2==2.5.0
moviepy==1.0.3
narwhals==1.5.5
navit-torch==0.0.8
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
omegaconf==2.3.0
opencv-python==4.10.0.84
openpyxl==3.1.5
peft==0.10.0
pip==25.3
portalocker==2.10.1
python-dotenv==1.0.1
sentence-transformers==2.2.2
sglang==0.5.6.post2
shortuuid==1.0.13
sty==1.0.6
tensorboardX==2.6.2.2
timeout-decorator==0.5.0
uv==0.9.18
validators==0.35.0
vllm==0.2.2
wandb==0.17.7
watchfiles==1.1.1
wavedrom==2.0.3.post3
XlsxWriter==3.2.0
